# offlineimap.timer
# http://babushk.in/posts/offlineimap-systemd.html

[Unit]
Description=OfflineIMAP Quicksync timer

[Timer]
# Check systemd.time(7)
# Every 30 seconds
# OnCalendar=*:*:0/30
OnCalendar=*-*-* *:0/2:00
#OnCalendar=hourly
#OnCalendar=minutely
Unit=offlineimap.service

[Install]
WantedBy=default.target
