set config_charset=utf-8

### Editeur pour les messages
#set editor="vim"
source "~/.mutt/editorrc.$TERM"

set tmpdir="~/tmp"

# only for pop/imap
# Display download progress every 5K
#set net_inc=5
# how often to poll for new mail in all mailboxes
set mail_check=60
# How often  to poll for new mail in the current mailbox
set timeout=15
# Check for new mails
set check_new=yes

# Spell checking
set ispell="ispell"

### Printing
set print=ask-yes       # ask before printing
set print_cmd="muttprint"
#   set print_command="mp|lpr" # pipe message to "mp" for formattting - then on to "lpr"

#set shell="/bin/sh"
#set shell="/usr/local/bin/zsh"
set shell="/bin/zsh"
set mailcap_path="~/.mutt/mutt.mailcap:/etc/mailcap"

### Questions
set include=yes         # Always include original
set copy=yes            # Always save outgoing mails
set delete=ask-yes      # ask and delete
set move=no           	# don't move
set postpone=ask-yes    # demande d'ajourner
set reply_to=ask-yes    # useful for mailinglists
set confirmappend=no 	# set: prompt for confirmation on appending mail to folder
set confirmcreate       # set: prompt for confirmation on creation of folders
set abort_nosubject=ask-yes
set abort_unmodified=ask-yes
set recall=ask-yes      # prompt for recalling postponed mails with 'm'
set quit=ask-no

### Varia
#
unset mark_old	        # set: make distinction between New mail and Old mail.
set allow_8bit		# send data as it is.  no conversion.
set sort=threads
set sort_aux=reverse-last-date-received
set duplicate_threads=yes
set status_on_top        # set: present the status bar at top, ie before the index
# Quotations
#set quote_regexp="^([ \t]*[|>:}#])+"
set quote_regexp="^( {0,4}[>|:#%]| {0,4}[a-z0-9]+[>|]+)+"

set markers=no # do not diplay line return markers for long urls
unset smart_wrap
#set wrapmargin=100
# Utiliser le visualisateur interne pour consulter les messages
set visual=builtin
unset arrow_cursor         # Show current mail with an inverse bar.
set ascii_chars          # set: use ASCII characters to build the thread tree
unset move                 # do not move read mails from mailbox to  (was: "set hold")
unset prompt_after         # set: gives you a prompt when pager exits
set tilde                # show non-existant lines of text with a tilde at begin-of-line
set collapse_unread     # collapse threads with unread mails

# Pager
set pager_context=5      # number of lines that overlap on paging
set pager_index_lines=6  # number of lines to see from the index
set pager_stop           # "next_page" won't jump to next message at end of messages

# Headers
#set autoedit             # call editor without prompting for To: and Subject:
set edit_headers         # edit all headers lines in the editor
set edit_hdrs editor="vim +/^\$ +:noh"
set beep_new
set beep
set indent_str="> "
set mime_forward="ask-no"
set pager_context=1
set noprompt_after
set read_inc=10	         # show count number for every tenth mail
set write_inc=10         # update number after each tenth read mail
set nosave_empty
set tilde
set history=1000	# number of input lines for prompts to remember
set history_file = "~/.mutt/history"
set save_history=1000
set fast_reply
set auto_tag # Apply command to tagged messages automatically (;)
set to_chars=" +TCFL" # message flags: non-personal,personal,To:,Cc:,From:,List:
set forward_decrypt=yes
set forward_decode=yes
set forward_quote=no
set mime_forward=ask-yes # ask: attach message - or just quote it?
set use_from             # 'set from=' requires a 'set use_from'!
# for setting return-path
set encode_from=yes
set envelope_from=yes
set use_envelope_from=yes
set reverse_alias        # show the name of sender as set with my alias for him
set reverse_name         # reply as the user to whom the mail was sent to
set header_cache = "~/.mutt/headers" # Cache maildir headers
unset maildir_header_cache_verify # no reason to spend a stat system call for each mail

# Format Options
set date_format="!%H:%M %a %d %b     "
set forward_format="(forw) %s"
#set index_format="%4C %Z %[%d/%m] %-20.20F %s   |     %c"
set index_format="%4C %Z %?X?@& ? %{%d/%m} %-20.20n (%?M?»%3M&%4c?) %s"
set pager_format="%S [%C/%T] %n (%l) %s - %e/%E - %B - %L"
set status_format="%v: %f [Msgs:%?M?%M/?%m%?n? New:%n?%?o? Old:%o?%?d? Del:%d?%?F? Flag:%F?%?t? Tag:%t?%?p? Post:%p?%?b? Inc:%b?%?l? %l?]---%V-%>-(%P)---"
#set folder_format="%2C %t %N %8s %d %f"
# For maildir
set folder_format="%3C %t %N %f"
# terminal title - needs a patch
#set xterm_set_titles
#set xterm_title="Mutt: %f [Msg:%m New:%n %l]"

# Search
set thorough_search
set simple_search = "~f %s | ~C %s | ~s %s" # Search method  -- default pattern (Fr|To|Cc|Subj) --

### Produce Headers and such
set attribution="Le %(%d/%m/%y) à %(%H:%M), %n téléscripta :"              # how to cite the author
#set reply_regexp="^((aw|antw.?|antwort|re|r e|r?f|sv):[ \t]*)*"
set reply_regexp="^((\
\\[sd-pro\\]|\
\\[[a-z][a-z0-9 :-]+[0-9]\\]|\
(\\(fwd\\))|\
(re(\\[[0-9]\\])?|aw|fw|fwd|\\?\\?|ç­.å¤.|´ð¸´|\\?\\?\\?\\?):\
)[ \t]*)+"
set hidden_host          # do not use a hostname in the address - PROBLEMATIC!
set nostrict_threads     # Lets have some fuzzy threading.

unset followup_to          # do not generate a Followup-To header

# GnuPG/PGP Options
set pgp_use_gpg_agent
set pgp_timeout=8400
set pgp_verify_sig=yes
set pgp_autosign
set pgp_replysign
set pgp_replyencrypt

# In order to use this feature, certs should be managed using gpgsm
# http://www.claws-mail.org/faq/index.php/S/MIME_howto
# http://marc.info/?l=gnupg-devel&m=111936303505866&w=2
# manually launch gpg-agent to debug...
#set crypt_use_gpgme
set crypt_autosign
set crypt_replyencrypt
set crypt_replysign
set crypt_replysignencrypted
set crypt_verify_sig

source ~/.mutt/gpg.rc

set locale="fr_FR"

set send_charset="us-ascii:iso-8859-1:iso-8859-15:utf-8"
# attempt to make a best effort to convert undisplayable chars with iconv
#set charset=//TRANSLIT
#set charset="utf-8"

# decode attachments' filenames
set rfc2047_parameters
#unset strict_mime
mime_lookup application/octet-stream

# Attached docs
set attach_format = "%u%D%I %t%4n %T%.40d%> [%.7m/%.10M, %.6e%?C?, %C?, %s] "
set attach_sep = "\n"
set attach_split = yes

### Aliases / Addressbook
set alias_file="~/.aliases"
source ~/.aliases
set query_command="abook --mutt-query '%s'"  # address book
# Recherche dans l'annuraie ldap
#set query_command="~/mutt/mutt-ldap-query.pl '%s'"
set fcc_clear                             # Keep fcc's clear of signatues and encryption.
