.config/vimb
.config/ranger/__pycache__/
.config/ranger/history
.mutt/headers
.mutt/history
.mutt/mutt.compte
.pentadactyl/info/default/cache
.pentadactyl/info/default/command-history
.pentadactyl/info/default/local-marks
.pentadactyl/info/default/register-ring
.pentadactyl/info/default/registers
.pentadactyl/info/default/url-marks
.pentadactyl/info/default-1428505402088/
.tmux/plugins/
.tmux/resurrect/
.xmonad/history
.xmonad/xmonad-x86_64-linux
.xmonad/xmonad.errors
.xmonad/xmonad.hi
.xmonad/xmonad.o
