# User-wide gitignore
*-back
*.bak
*.data
*.db
*.gvdb
*.jex
*.kbx
*.lock
!flake.lock
*.log
*.mdb
*.old
*.pem
*.so
*.state
*.tmp
*.autosave
*.status
*_history
*.swp
*~
.*/cache/
.dotfiles/
.AsciidocFX*/
.BurpSuite/
.DS_Store
.ICEauthority
.LfCache/
.ZAP/
.android/
.ansible/
.ansible_galaxy
.arduino*/
.cache/
.cargo/
.chef/accepted_licenses/
.config/*/*.db
.config/*/*.log
.config/*/*.sqlite
.config/*/*Cache/
.config/*/*Storage/
.config/*/cache/
.config/*/log*
.config/*/tmp/
.config/*backup
.config/*log
.config/@joplin/app-desktop/
.config/Bitwarden/
.config/BraveSoftware/
.config/Code - OSS/
.config/Electron/
.config/GIMP
.config/GraphQL Playground/
.config/Joplin/
.config/Keybase/
.config/Ledger Live/
.config/Nextcloud/
.config/Postman/
.config/VirtualBox/
.config/balena-etcher-electron/
.config/chromium/
.config/coc/
.config/coc/extensions/node_modules
.config/darktable/
.config/deluge/archive/
.config/deluge/state/
.config/discord/
.config/enchant/
.config/evolution/
.config/google-chrome*/
.config/ibus/
.config/joplin*/resources
.config/joplin-desktop/plugins
.config/khard/contacts/
.config/libreoffice/
.config/neomutt/history
.config/nvim/plugged/
.config/nvim/plugin/packer_compiled.lua
.config/nvim/words.txt
.config/obsidian/
.config/pulse/
.config/session/
.config/skypeforlinux/
.electron*/
.electrum/blockchain_headers
.electrum/certs/
.fzf/
.gdfuse/
.gem/
.gnupg/*.asc
.gnupg/*.gpg
.gnupg/crls.d/
.gnupg/private-keys-v1.d/
.hashcat/
.java/
.joplin/
.kde4/
.local/bin/
.local/share/
.local/state/
.m2/repository/
.mozilla/
.msf4/
.node-gyp/
.npm/
.nv/
.nvm/
.pkg-cache/
.pki/
.rvm/
.skrooge/
.ssh/authorized_keys
.ssh/id_*
.ssh/known_hosts
.steam/
.terraform.d/
.tmux/plugins/
.tmux/resurrect/
.undodir/
.var/app/
.vdirsyncer/status/
.vimswap/
.virtualenv*/
.vscode-oss/
.zcompdump
.zhistory
Desktop/
Documents
Downloads
GDrive/
Games
Mail/
Music/
Pictures
Projects/
Sync
TryHackMe/
VirtualBox VMs
code/
go/
tmp/
result
