# User-wide gitignore
*-back
*.bak
*.state
*~
.DS_Store
.cache/
.config/*/*.db
.config/*/*.log
.config/*/*.sqlite
.config/*/*Cache/
.config/*/*Storage/
.config/*/cache/
.config/*/log*
.config/*/tmp/
.config/*backup
.config/*log
.config/@joplin/app-desktop/
.config/Bitwarden/
.config/BraveSoftware/
.config/Code - OSS/
.config/Electron/
.config/GIMP
.config/GraphQL Playground/
.config/Joplin/
.config/Keybase/
.config/Ledger Live/
.config/Nextcloud/
.config/Postman/
.config/VirtualBox/
.config/balena-etcher-electron/
.config/chromium/
.config/coc/
.config/coc/extensions/node_modules
.config/darktable/
.config/deluge/archive/
.config/deluge/state/
.config/discord/
.config/enchant/
.config/evolution/
.config/google-chrome*/
.config/ibus/
.config/joplin*/resources
.config/joplin-desktop/plugins
.config/khard/contacts/
.config/libreoffice/
.config/neomutt/history
.config/nvim/plugged/
.config/nvim/words.txt
.config/obsidian/
.config/pulse/
.config/session/
.config/skypeforlinux/
.virtualenv/
Desktop/
Documents/
Downloads/
Music/
Pictures/
Projects/
code/
