[edit]
  command = "nvim"
[git]
  autoComit = true
  autoPush = false

# XXX: look at adding a pre-commit hook with gitleaks
# See also:
# https://www.chezmoi.io/reference/configuration-file/hooks/
# https://github.com/gitleaks/gitleaks/blob/master/.pre-commit-hooks.yaml
# https://github.com/1minEpowMinX/gitleaks-pre-commit-hook/blob/main/README.md
# [hooks.add.pre]
#     command = "echo"
#     args = ["pre-add-hook"]
