[user]
  name = Baptiste Grenier
{{- if eq .chezmoi.hostname "torpedo" }}
  email = "baptiste.grenier@operas-eu.org"
{{- else }}
  email = "baptiste@bapt.name"
{{- end }}
  signingkey = 46BDC6B3DE10CB983B880095022A860ECDA18F02

[github]
  user = gwarf

[commit]
{{- if eq .chezmoi.hostname "delamain" }}
  gpgsign = false
{{- else }}
  gpgsign = true
{{- end }}
