# .notmuch-config - Configuration file for the notmuch mail system
#
# For more information about notmuch, see https://notmuchmail.org

[database]
# XXX: provide full path or expect errors with afew FolderNameFilter
path=/home/baptiste/Mail

[user]
{{ if eq .chezmoi.hostname "torpedo" -}}
primary_email=baptiste.grenier@operas-eu.org
other_email=baptiste@bapt.name
{{ else if eq .chezmoi.hostname "sikaru" -}}
primary_email=baptiste@bapt.name
other_email=baptiste.grenier@operas-eu.org
{{ end -}}

[new]
tags=new
ignore=.uidvalidity;.mbsyncstate

[search]
exclude_tags=deleted;spam;

[maildir]
synchronize_flags=true
