{{/* https://roylez.info/2016-02-10-mutt-multi-imap-accounts/ */}}
{{- if eq .chezmoi.hostname "torpedo" -}}
IMAPAccount account0
Host ssl0.ovh.net
User baptiste.grenier@operas-eu.org
PassCmd "rbw get ovh/operas/mail"
SSLType IMAPS
AuthMechs LOGIN
PipelineDepth 50

# Remote
IMAPStore account0_remote
Account account0

# Local
MaildirStore account0_local
Path ~/Mail/OPERAS/
Inbox ~/Mail/OPERAS/Inbox
Subfolders Verbatim

# Connect remote and local
Channel account0
Far :account0_remote:
Near :account0_local:
Pattern *
# Automatically create missing mailboxes, both locally and on the server
Create Both
# Automatically delete messages on either side if they are found deleted on the other
Expunge Both
# Save the synchronization state files in the relevant directory
SyncState *
{{- else }}
IMAPAccount baptiste
# CertificateFile /etc/ssl/certs/ca-certificates.crt
Host mail.bapt.name
# XXX: On FreeBSD with pinentry-gnome3, the password is not taken from the gnome keyring
# secret-tool store --label=mail host mail.bapt.name service imaps user baptiste@bapt.name
PassCmd "secret-tool lookup host mail.bapt.name service imaps user baptiste@bapt.name"
# PassCmd "rbw get /mail/baptiste@bapt.name"
# Port 443
Port 993
{{- if eq .chezmoi.os "freebsd" }}
# TLSType STARTTLS
TLSType IMAPS
{{- else }}
# SSLType STARTTLS
SSLType IMAPS
{{- end }}
User baptiste@bapt.name

IMAPStore baptiste-remote
Account baptiste

MaildirStore baptiste-local
Path ~/Mail/Perso/
Inbox ~/Mail/Perso/Inbox
SubFolders Verbatim

Channel baptiste
Create Both
Expunge Both
Far :baptiste-remote:
Near :baptiste-local:
Patterns *
Remove None
SyncState *
{{- end }}
