# Set default values
defaults
logfile ~/.msmtp.log
protocol smtp
auth on
tls on
tls_starttls on
{{ if eq .chezmoi.hostname "torpedo" }}
account gmail
host smtp.gmail.com
port 587
tls_trust_file system
from baptiste.grenier@operas-eu.org
user baptiste.grenier@operas-eu.org
passwordeval rbw get google/baptiste.grenier@operas-eu.org/apppass/tuxedo
{{ else if eq .chezmoi.hostname "sikaru" }}
account perso
host mail.bapt.name
port 587
tls_trust_file system
from baptiste@bapt.name
user baptiste@bapt.name
# TPM-sealed user credential, no unlock step under autologin (DR-0041)
passwordeval systemd-creds decrypt --user --name=mailcow-baptiste $HOME/.config/credstore.user/mailcow-baptiste.cred -
{{- end -}}
