{{/* https://roylez.info/2016-02-10-mutt-multi-imap-accounts/ */}}
{{- if eq .chezmoi.hostname "torpedo" -}}
IMAPAccount account0
Host ssl0.ovh.net
User baptiste.grenier@operas-eu.org
PassCmd "rbw get ovh/operas/mail"
TLSType IMAPS
AuthMechs LOGIN
PipelineDepth 50

# Remote
IMAPStore account0_remote
Account account0

# Local
MaildirStore account0_local
Path ~/Mail/OPERAS/
Inbox ~/Mail/OPERAS/Inbox
Subfolders Verbatim

# Connect remote and local
Channel account0
Far :account0_remote:
Near :account0_local:
Pattern *
# Automatically create missing mailboxes, both locally and on the server
Create Both
# Automatically delete messages on either side if they are found deleted on the other
Expunge Both
# Save the synchronization state files in the relevant directory
SyncState *
{{- else if eq .chezmoi.hostname "sikaru" }}
IMAPAccount baptiste
# CertificateFile /etc/ssl/certs/ca-certificates.crt
Host mail.bapt.name
Password "{{ (rbw "mail.bapt.name/sikaru/baptiste@bapt.name").data.password }}"
Port 143
TLSType STARTTLS
AuthMechs LOGIN
User baptiste@bapt.name

# Remote
IMAPStore baptiste-remote
Account baptiste

# Local
MaildirStore baptiste-local
Path ~/Mail/Perso/
Inbox ~/Mail/Perso/Inbox
SubFolders Verbatim

# Connect remote and local
Channel baptiste
Far :baptiste-remote:
Near :baptiste-local:
Patterns *
# Automatically create missing mailboxes, both locally and on the server
Create Both
# Automatically delete messages on either side if they are found deleted on the other
Expunge Both
Remove None
# Save the synchronization state files in the relevant directory
SyncState *
{{- end }}
