#!/bin/sh

{{ if eq .chezmoi.os "freebsd" -}}

# "FreeBSD: install minimal package set"
{{ range .packages.freebsd.minimal -}}
doas pkg install -y {{ . | quote }}
{{ end -}}

# "FreeBSD: install neovim package set"
{{ range .packages.freebsd.neovim -}}
doas pkg install -y {{ . | quote }}
{{ end -}}

{{ if eq .chezmoi.hostname "brutal" }}
# "FreeBSD: install cli package set"
{{ range .packages.freebsd.cli -}}
doas pkg install -y {{ . | quote }}
{{ end -}}
# "FreeBSD: install desktop package set"
{{ range .packages.freebsd.desktop -}}
doas pkg install -y {{ . | quote }}
{{ end -}}
{{ end -}}

{{ else if eq .chezmoi.os "darwin" -}}

brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range .packages.darwin.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .packages.darwin.casks -}}
cask {{ . | quote }}
{{ end -}}
EOF
{{ range .packages.darwin.appstore -}}
mas purchase {{ . | quote }}
mas install {{ . | quote }}
{{ end -}}
{{ range .packages.darwin.pipx -}}
pipx install {{ . | quote }}
{{ end -}}

{{ else if eq .chezmoi.os "linux" -}}

{{ range .packages.linux.pkgs -}}
sudo apt --no-install-recommends install -y {{ . | quote }}
{{ end -}}
{{ range .packages.linux.snaps.standard -}}
sudo snap install {{ . | quote }}
{{ end -}}
{{ range .packages.linux.snaps.classic -}}
sudo snap install --classic {{ . | quote }}
{{ end -}}
{{ range .packages.linux.snaps.edge -}}
sudo snap install --edge {{ . | quote }}
{{ end -}}

{{ end -}}
