{{- if eq .chezmoi.os "darwin" -}}
# use pinentry progam allowing to use keychain
# https://merikan.com/2019/05/how-to-sign-git-commits/
{{ if stat "/opt/homebrew/bin/" }}
pinentry-program /opt/homebrew/bin/pinentry-mac
{{ else -}}
pinentry-program /usr/local/bin/pinentry-mac
{{- end }}
{{- end }}
{{- if eq .chezmoi.os "freebsd" -}}
pinentry-program /usr/local/bin/pinentry-gnome3
{{- end }}
default-cache-ttl 600
max-cache-ttl 7200
default-cache-ttl-ssh 600
max-cache-ttl-ssh 7200
