configurations:
  -
    host: ssl0.ovh.net
    port: 993
    tls: true
    tlsOptions:
      rejectUnauthorized: true
      starttls: false
    wait: 5
    username: "baptiste.grenier@operas-eu.org"
    password: "{{ (rbw "ovh/baptiste.grenier@operas-eu.org").data.password }}"
    xoAuth2: false
    boxes:
      -
        mailbox: Inbox
        onNewMail: ~/bin/mail-sync.sh
