{{- if eq .chezmoi.hostname "torpedo" -}}
[Work]
source   = notmuch://~/Mail/
maildir-store = ~/Mail/
address-book-cmd = khard email --parsable --search-in-source-files --remove-first-line %s
outgoing = smtps://baptiste.grenier%40operas-eu.org@ssl0.ovh.net:465
outgoing-cred-cmd = "rbw get ovh/operas/mail"
query-map = ~/.config/aerc/operas-map.conf
default  = Inbox
folders-exclude = ~OPERAS.*
enable-folders-sort = false
folders-sort = Inbox Archive Sent Draft Junk Trash
from     = Baptiste Grenier <baptiste.grenier@operas-eu.org>
copy-to  = OPERAS/Sent
pgp-auto-sign = true
pgp-key-id = "0xCDA18F02"
signature-file = ~/.config/neomutt/signature-operas
{{- else }}
[Personal]
source   = maildir://~/Mail/Perso
check-mail-cmd = mbsync -a
check-mail = 0
outgoing = smtp://baptiste%40bapt.name@mail.bapt.name:587
outgoing-cred-cmd = "secret-tool lookup host mail.bapt.name service imaps user baptiste@bapt.name"
default  = Inbox
from     = Baptiste Grenier <baptiste@bapt.name>
copy-to  = Sent
pgp-auto-sign = true
pgp-key-id = "0xCDA18F02"
signature-file = ~/.config/neomutt/signature-perso
{{- end }}
