{{- if eq .chezmoi.hostname "torpedo" -}}
[Work]
# notmuch-based setup
source   = notmuch://~/.mail
maildir-store = ~/.mail
query-map = ~/.config/aerc/operas-map.conf
folders-exclude = ~operas.gmail.*
address-book-cmd = khard email --parsable --search-in-source-files --remove-first-line %s
outgoing = smtps://baptiste.grenier%40operas-eu.org@smtp.gmail.com:587
outgoing-cred-cmd = "rbw get google/baptiste.grenier@operas-eu.org/apppass/tuxedo"
default  = inbox
enable-folders-sort = true
folders-sort = Inbox,atrium,edch,graphia,Flagged,Important,personal,Sent,Archive,drafts,spam,phishing,trash
from     = Baptiste Grenier <baptiste.grenier@operas-eu.org>
pgp-auto-sign = true
pgp-key-id = "0xCDA18F02"
signature-file = ~/.config/neomutt/signature-operas

[Personal]
source   = imaps://baptiste%40bapt.name@mail.bapt.name
source-cred-cmd = "rbw get mail/baptiste@bapt.name"
outgoing = smtp://baptiste%40bapt.name@mail.bapt.name:587
outgoing-cred-cmd = "rbw get mail/baptiste@bapt.name"
default  = INBOX
folders-exclude = ~Archive/.*
enable-folders-sort = true
folders-sort = INBOX,Archive,Sent,Drafts,Junk,Trash
from     = Baptiste Grenier <baptiste@bapt.name>
copy-to  = Sent
pgp-auto-sign = true
pgp-key-id = "0xCDA18F02"
signature-file = ~/.config/neomutt/signature-perso
{{- else }}
[Personal]
source   = maildir://~/Mail/Perso
check-mail-cmd = mbsync -a
check-mail = 0
outgoing = smtp://baptiste%40bapt.name@mail.bapt.name:587
outgoing-cred-cmd = "secret-tool lookup host mail.bapt.name service imaps user baptiste@bapt.name"
default  = Inbox
folders-sort = Inbox,Sent,Drafts,Junk,Trash,Archive
from     = Baptiste Grenier <baptiste@bapt.name>
copy-to  = Sent
pgp-auto-sign = true
pgp-key-id = "0xCDA18F02"
signature-file = ~/.config/neomutt/signature-perso
{{- end }}
