# Empty values reset the configuration to the default value
# ghostty +list-fonts
font-family = "Monaspace Neon"
font-size = 15

# ghostty +list-themes
theme = TokyoNight Moon

# XXX: not yet released
# https://github.com/ghostty-org/ghostty/pull/9335
# selection-word-chars = " \t'\"│`|:;,()[]{}<>$"

{{ if eq .chezmoi.os "darwin" -}}
command = /opt/homebrew/bin/fish --login --interactive
{{ else if eq .chezmoi.os "linux" -}}
command = /usr/bin/fish --login --interactive
{{ end -}}

window-decoration = client
