# Source Mutt legacy configuration
source ~/.config/neomutt/mutt-common.rc

set compose_show_preview = yes

# XXX: only in neomutt
# https://neomutt.org/feature/use-threads
# set use_threads=reverse sort=date sort_aux=date
set use_threads=threads sort=reverse-last-date sort_aux=reverse-last-date
folder-hook Inbox set use_threads=threads sort=reverse-last-date sort_aux=reverse-last-date
# Ensure that Sent folder is first showing messages last sent
folder-hook Sent set sort=reverse-date-sent

# Workaround for lack of background_edit support in Neomutt
# https://github.com/neomutt/neomutt/discussions/4145
# https://github.com/neomutt/neomutt/issues/2713
# set editor="neomutt-compose.sh"
set editor="nvim"

# Source neomutt-specific configuration
# Colors
source ~/.config/neomutt/progress-color

# Not supported in mutt without notmuch patch
source ~/.config/neomutt/notmuch-neomutt.rc

source ~/.config/neomutt/index-color

# Source notmuch profile
{{ if eq .chezmoi.hostname "torpedo" -}}
source ~/.config/neomutt/profile.operas.lieer
{{ else if eq .chezmoi.hostname "sikaru" }}
source ~/.config/neomutt/profile.perso.notmuch
{{ end }}

# vim: set ft=muttrc:
