# notmuch

set sidebar_format = "%D%* %S"

# This variable specifies notmuch query type, supported types: 'threads' and
# 'messages'.
# set nm_query_type = threads
set nm_query_type = messages

# Replace some tags with icons
# tag-transforms tag transformed-string { tag transformed-string ...}
# XXX: Some chars are taking more than one cell
tag-transforms "inbox"   ""   \
               "unread"  "✘"   \
               "replied" "↻"  \
               "sent"    "✎"  \
               "important" "★"   \
               "waiting" ""   \
               "deleted" "☠️" \
               "spam" "😈" \
               "attachment" "" \
               "invites" "" \
               "dkim-fail" "❗" \
               "to-me" "🗿"

# The formats must start with 'G' and the entire sequence is case sensitive.
# tag-formats tag format-string { tag format-string ...}
tag-formats "inbox"   "Gi" \
             "unread"  "GU" \
             "replied" "GR" \
             "sent"    "GS" \
             "important"    "Gt" \
             "waiting"    "Gw" \
             "deleted" "GD" \
             "spam" "GT" \
             "attachment" "Ga" \
             "invites" "GI"

# http://www.mutt.org/doc/manual/#index-format
# Now instead of using '%g' in your $index_format, which lists all tags
# in a non-deterministic order, you can something like the following which puts
# a transformed tag name in a specific spot on the index line:
# %C: message number
# %S: Single character status of the message ( “N”/ “O”/ “D”/ “d”/ “!”/ “r”/ “*”)
# %Z: Message status flag on 3 chars
#   - New, Read, Reply
#   - Deletion or Encryption flags
#   - Tagging, flagging or information about the To/Cc...
# %n: Author realname or email if missing
# %F: author name, or recipient name if the message is from you
# %W: Organization
# %g: list of tags
# .G: Notmuch tags info
#   - %Gi: inbox
#   - %GD: deleted
#   - %GU: unread
#   - %GR: replied
#   - %GI: invites (calendar invitation)
#   - %GT: spam
#   - %Gw: waiting
# %s: message subject
# %7<[y?%<[m?%<[d?%[%l:%M%p]&%[%a %d]>&%[%b %d]>&%[%m/%y]>: Show relative dates with a 7 chars column
# %[%y.%m.%d]: Date
# %?l?%4l&%4c?: message size
# %3?GD?%GD&?%?GR?%GR&?%?GI?%GI&?%?GT?%GT&?: show icons for specific tags
# Default: %4C %Z %{%b %d} %-15.15L (%?l?%4l&%4c?) %s
# set index_format='%4C %Z %[%Y-%m-%d] %-18.18F %?Gi?%Gi& ? %?GD?%GD& ? %?GR?%GR& ? %?GI?%GI& ? %?GT?%GT& ? %?Gw?%Gw& ?  %?Ga?%Ga& ? %s'
set index_format='%4C %Z %7<[y?%<[m?%<[d?%[%l:%M%p]&%[%a %d]>&%[%b %d]>&%[%m/%y]> %-20.20F %s %?g?%g&?'

# Macros and bindings

# open a different virtual folder
# XXX: when changing vfolder, the folders ar not sorted as wanted
bind index,pager c change-vfolder
# modify (notmuch) tags
bind index,pager \` modify-labels

# generate virtual folder from query
macro index \\\\ "<vfolder-from-query>" "Query messages using a notmuch pattern"
macro index,pager L "<vfolder-from-query>" "Query messages using a notmuch pattern"

# Move time window of virtual folder from query
# Only works if nm_query_window_duration > 0
bind index < vfolder-window-backward
bind index > vfolder-window-forward

# read entire thread of the current message
bind index,pager <F5> entire-thread

## Actions on emails

# Create a taskwarrior task using mutt2task
# macro index,pager at \
#   "<pipe-message>mutt2task.py<enter><modify-labels>+todo<enter><sync-mailbox>"
# macro index,pager ag \
#   "<pipe-message>add_contact<enter>" \
#   "add sender to google contacts"

# Prefix-based bindings

# [g]o to
# Set/modify [t]ag
# Launch [a]ction
# Need to free the short keymap
# https://www.neomutt.org/guide/configuration.html#bind-warnings
# bind index,pager g noop
# bind index,pager t noop
# bind index,pager a noop
# Mark as to waiting reply
# macro index,pager tw "<modify-labels>+waiting<enter><sync-mailbox>"
# macro index,pager gi \
#     <change-vfolder>Inbox<enter> \
#     "Go to inbox"
# macro index,pager gu \
#     <change-vfolder>Unread<enter> \
#     "Go to unread"
# macro index,pager ga \
#     <change-vfolder>All<enter> \
#     "Go to All"
# macro index,pager gt \
#     <change-vfolder>Sent<enter> \
#     "Go to Sent"
# macro index,pager gb \
#     <change-vfolder>Trash<enter> \
#     "Go to Trash Bin"
# macro index,pager gd \
#     <change-vfolder>Drafts<enter> \
#     "Go to Drafts"
# macro index,pager gs \
#     <change-vfolder>Important<enter> \
#     "Go to Important/Starred"

# Colors tag indicators in index

# important messages
# color index_tag    color160        color234        "important"
# color index_tag    color160        color234        "starred"
# color index         color160        color234        "~Y \"starred\""
# color index         color160        color234        "~Y \"important\""

# deleted messages
# Color the index_tag column for messages tagged as deleted
# color index_tag    color235        color160        "deleted"
# Color the full index row for messages tagged as deleted
# XXX: this should only be done in the inbox, not when viewing the trash
# folder-hook inbox 'color index    color235        color160        "~Y \"deleted\""'
# folder-hook trash 'color index    default        default        "~Y \"deleted\""'

# Color the full index row for messages in the inbox no more having the inbox label
# color index    color235        color160        "! ~Y \"inbox\""
# XXX: not working, need to avoid messing up with colors in all folder
# folder-hook '[^inbox]' 'color index    default        default        "! ~Y \"inbox\""'
# folder-hook all 'color index    default        default        "! ~Y \"inbox\""'
# folder-hook phishing 'color index    default        default        "! ~Y \"inbox\""'
# folder-hook spam 'color index    default        default        "! ~Y \"inbox\""'

# vim: set ft=muttrc:
