# https://wiki.archlinux.org/index.php/Power_management#Sleep_hooks
[Unit]
Description=User resume actions
After=suspend.target

[Service]
Type=simple
ExecStart=/usr/bin/mpc toggle

[Install]
WantedBy=suspend.target
