# https://wiki.archlinux.org/index.php/Power_management#Sleep_hooks
[Unit]
Description=User suspend actions
Before=sleep.target

[Service]
Type=oneshot
#Environment=DISPLAY=:0
#ExecStartPre=/usr/bin/mpc toggle
ExecStart=/usr/bin/mpc toggle
#ExecStart=/usr/bin/slock
# XXX Seems too slow
# ExecStart=/usr/bin/i3lock-fancy --pixelate -f Fantasque-Sans-Mono-Regular
# ExecStartPost=/usr/bin/sleep 1

[Install]
WantedBy=sleep.target
