set  -g default-terminal "tmux-256color"
set  -g base-index 1
setw -g pane-base-index 1

# Use vi bindings
set -g status-keys vi
set -g mode-keys vi

set  -g mouse off
setw -g clock-mode-style 12

# Use fish as shell
{{ if eq .chezmoi.os "freebsd" -}}
set -g default-command /usr/local/bin/fish
set -g default-shell /usr/local/bin/fish
{{ else if eq .chezmoi.os "darwin" -}}
{{ if stat "/opt/homebrew/bin/fish" }}
set -g default-command /opt/homebrew/bin/fish
set -g default-shell /opt/homebrew/bin/fish
{{ else -}}
set -g default-command /usr/local/bin/fish
set -g default-shell /usr/local/bin/fish
{{ end -}}
{{ else if eq .chezmoi.os "linux" -}}
set -g default-command /usr/bin/fish
set -g default-shell /usr/bin/fish
{{ end -}}

# automatically renumber tmux windows
set -g renumber-windows on

# Disable automatic changes of titles
set -g set-titles on
set-window-option -g automatic-rename on
set-window-option -g allow-rename on

# Activity Monitoring
setw -g monitor-activity off
set -g visual-activity off

# option for terminal colors
# set -sa terminal-features ",xterm-kitty:RGB"

############ Key Bindings ############

# reload config file
bind r source-file ~/.config/tmux/tmux.conf \; display "Config Reloaded!"

# synchronize all panes in a window
bind y setw synchronize-panes

# Remap x to avoid confirmation to kill pane
bind-key x kill-pane

# Window movement / renumbering like in screen's :number
bind-key m command-prompt -p "move window to:"  "swap-window -t '%%'"
bind-key . command-prompt "move-window -r -t '%%'"

# Send pane next to another one
bind-key s command-prompt -p "send pane to:"  "join-pane -t '%%'"

# For yazi
# https://yazi-rs.github.io/docs/image-preview/#tmux
set -g allow-passthrough on
set -ga update-environment TERM
set -ga update-environment TERM_PROGRAM

# List of plugins
set -g @plugin "tmux-plugins/tpm"
set -g @plugin "tmux-plugins/tmux-sensible"
set -g @plugin "tmux-plugins/tmux-cpu"
set -g @plugin "tmux-plugins/tmux-battery"
set -g @plugin "tmux-plugins/tmux-yank"
set -g @plugin "tmux-plugins/tmux-pain-control"
set -g @plugin "tmux-plugins/tmux-prefix-highlight"
set -g @plugin "tmux-plugins/tmux-logging"
set -g @plugin "tmux-plugins/tmux-sessionist"
set -g @plugin "tmux-plugins/tmux-resurrect"
set -g @plugin "tmux-plugins/tmux-continuum"
set -g @plugin "alberti42/tmux-fzf-links"
# MPD playing
set -g @plugin "vascomfnunes/tmux-ludanta"

# Themes
# set -g @plugin "dracula/tmux"
# set -g @plugin "fabioluciano/tmux-tokyo-night"
set -g @plugin "catppuccin/tmux#v2.1.3"

# Automatically restore sessions
set -g @continuum-restore "on"

# tmux-fxf-links plugin
set-option -g @fzf-links-key C-u
set-option -g @fzf-links-browser-open-cmd "xdg-open %url"

# dracula theme
set -g @dracula-plugins "ssh-session time"
set -g @dracula-show-powerline true
set -g @dracula-show-left-icon "💀 #S"
set -g @dracula-show-left-sep 
set -g @dracula-show-right-sep 
set -g @dracula-show-empty-plugins false
set -g @dracula-time-format "%F %R"
# set -g @dracula-border-contrast true

# catppuccin theme
set -g @catppuccin_flavor "mocha"
set -g @catppuccin_window_status_style "rounded"

# Status bar at the top of the screen
set-option -g status-position "top"
# Make the status line pretty and add some modules
set -g status-right-length 100
set -g status-left-length 100
set -g status-left ""
set -g status-right "#{mpd_now_playing}"
set -ag status-right "#{E:@catppuccin_status_application}"
set -agF status-right "#{E:@catppuccin_status_cpu}"
set -ag status-right "#{E:@catppuccin_status_session}"
set -ag status-right "#{E:@catppuccin_status_uptime}"
set -agF status-right "#{E:@catppuccin_status_battery}"

# Install tpm if not available
if "test ! -d ~/.tmux/plugins/tpm" \
   "run 'git clone https://github.com/tmux-plugins/tpm ~/.tmux/plugins/tpm && ~/.tmux/plugins/tpm/bin/install_plugins'"

# Initialize TMUX plugin manager (keep this line at the very bottom of tmux.conf)
run "~/.tmux/plugins/tpm/tpm"

# Source local configuration if any
if "[ -f ~/.tmux.local.conf ]" "run ~/.tmux.local.conf"
