# See https://sw.kovidgoyal.net/kitty/conf.html

# Shell integration is sourced and configured manually
shell_integration no-rc

active_tab_font_style bold
adjust_line_height 140%
disable_ligatures cursor
{{ if eq .chezmoi.os "linux" -}}
font_family JetBrainsMono Nerd Font
{{ else -}}
font_family JetBrainsMono
{{ end -}}
font_size 14.0
hide_window_decorations no
inactive_tab_font_style normal
{{ if eq .chezmoi.os "darwin" -}}
macos_option_as_alt yes
{{ if stat "/opt/homebrew/bin/fish" }}
shell /opt/homebrew/bin/fish --interactive --login
{{ else -}}
shell /usr/local/bin/fish --interactive --login
{{ end -}}
{{ else -}}
shell fish --interactive --login
{{ end -}}
tab_activity_symbol 
tab_bar_edge top
tab_bar_style powerline
tab_title_template Tab {index}: {title}
window_padding_width 10

enable_audio_bell no

# Load theme
include tokyonight_storm.conf
# include tokyonight_moon.conf
# include dracula.conf

# Change the style of italic font variants
modify_font underline_thickness 400%
modify_font underline_position 2

# https://github.com/ryanoasis/nerd-fonts/wiki/Glyph-Sets-and-Code-Points
# symbol_map = "U+E5FA-U+E62B,U+E700-U+E7C5,U+F000-U+F2E0,U+E200-U+E2A9,U+F500-U+FD46,U+E300-U+E3EB,U+F400-U+F4A8,U+2665,U+26a1,U+F27C,U+E0A3,U+E0B4-U+E0C8,U+E0CA,U+E0CC-U+E0D2,U+E0D4,U+23FB-U+23FE,U+2B58,U+F300-U+F313,U+E000-U+E00D JetBrainsMono Nerd Font";
# symbol_map = "U+E5FA-U+E62B,U+E700-U+E7C5,U+F000-U+F2E0,U+E200-U+E2A9,U+F500-U+FD46,U+E300-U+E3EB,U+F400-U+F4A8,U+2665,U+26a1,U+F27C,U+E0A3,U+E0B4-U+E0C8,U+E0CA,U+E0CC-U+E0D2,U+E0D4,U+23FB-U+23FE,U+2B58,U+F300-U+F313,U+E000-U+E00D Menlo";
