[SpamFilter]

[KillThreadsFilter]

[ListMailsFilter]

[MeFilter]

[ArchiveSentMailsFilter]
sent_tag = sent
{{ if eq .chezmoi.hostname "torpedo" }}
[FolderNameFilter.0]
maildir_separator = /
folder_lowercases = true
# folder_transforms = Archives:archived Drafts:draft Trash:deleted Sent:sent Phishing:phishing
folder_transforms = trash:deleted

[DKIMValidityFilter]

[InboxFilter]

# [MailMover]
# # To avoid messing up with mbsync
# rename = True
# folders = OPERAS/inbox OPERAS/spam
# # <src> = ['<qry>':<dst>]+
# OPERAS/inbox = 'tag:sent':OPERAS/sent 'tag:spam':OPERAS/spam
# # OPERAS/inbox = 'tag:sent':OPERAS/sent 'tag:spam':OPERAS/spam 'NOT tag:inbox':OPERAS/all 'tag:archived':OPERAS/all
# OPERAS/spam = 'NOT tag:spam AND tag:inbox':OPERAS/inbox 'NOT tag:spam':OPERAS/all
{{ else if eq .chezmoi.hostname "sikaru" }}
[FolderNameFilter.0]
maildir_separator = /
folder_lowercases = true
folder_transforms = Archive:archived Drafts:draft Trash:deleted Sent:sent

[DKIMValidityFilter]

[InboxFilter]

[MailMover]
# To avoid messing up with mbsync
rename = True
folders = Perso/Inbox Perso/Junk
# XXX: Do not mess with archive as there still are subfolders
# Perso/Inbox = 'tag:sent':Perso/Sent 'tag:spam':Perso/Junk 'NOT tag:inbox':Perso/Archive 'tag:archived':Perso/Archive
Perso/Inbox = 'tag:sent':Perso/Sent 'tag:spam':Perso/Junk
# Perso/Junk = 'NOT tag:spam AND tag:inbox':Perso/Inbox 'NOT tag:spam':Perso/Archive'
Perso/Junk = 'NOT tag:spam AND tag:inbox':Perso/Inbox
{{- end }}
