# TODO: take inspartion from other people
# https://gist.github.com/stain/c176164be966eb5c1850ea0886058b49

[SpamFilter]

[KillThreadsFilter]

[ListMailsFilter]

[MeFilter]

[ArchiveSentMailsFilter]
sent_tag = sent
{{ if eq .chezmoi.hostname "torpedo" }}
[FolderNameFilter.0]
maildir_separator = /
folder_lowercases = true
folder_transforms = trash:deleted

[DKIMValidityFilter]

# Add tag invite to new calendar invites
[Filter.1]
query = "mimetype:text/calendar or mimetype:application/ics"
tags = +invites
message: Tagging invites

# remove tag new and add tag inbox
[InboxFilter]

[MailMover]
# To avoid messing up with mbsync
rename = True
folders = OPERAS/all OPERAS/inbox OPERAS/spam
# <src> = ['<qry>':<dst>]+
OPERAS/all = 'tag:deleted':OPERAS/trash
OPERAS/inbox = 'tag:sent':OPERAS/sent 'tag:spam':OPERAS/spam 'NOT tag:inbox':OPERAS/all 'tag:deleted':OPERAS/trash
OPERAS/spam = 'NOT tag:spam AND tag:inbox':OPERAS/inbox 'NOT tag:spam':OPERAS/all 'tag:deleted':OPERAS/trash
{{ else if eq .chezmoi.hostname "sikaru" }}
[FolderNameFilter.0]
maildir_separator = /
folder_lowercases = true
folder_transforms = Archive:archived Drafts:draft Trash:deleted Sent:sent

[DKIMValidityFilter]

[InboxFilter]

[MailMover]
# To avoid messing up with mbsync
rename = True
folders = Perso/Inbox Perso/Junk
# XXX: Do not mess with archive as there still are subfolders
# Perso/Inbox = 'tag:sent':Perso/Sent 'tag:spam':Perso/Junk 'NOT tag:inbox':Perso/Archive 'tag:archived':Perso/Archive
Perso/Inbox = 'tag:sent':Perso/Sent 'tag:spam':Perso/Junk
# Perso/Junk = 'NOT tag:spam AND tag:inbox':Perso/Inbox 'NOT tag:spam':Perso/Archive'
Perso/Junk = 'NOT tag:spam AND tag:inbox':Perso/Inbox
{{- end }}
