# mbsync.timer

[Unit]
Description=MBSync Quicksync timer

[Timer]
# Check systemd.time(7)
# Time to wait after booting before offlineimap.service is run for the first time
OnBootSec=15min
# Every 30 seconds
# OnCalendar=*:*:0/30
#OnCalendar=*-*-* *:0/2:00
#OnCalendar=hourly
#OnCalendar=minutely
# run 1 minutes after each deactivation of the unit
OnUnitInactiveSec=60s
Unit=mbsync.service

[Install]
WantedBy=default.target
