snippet cuthere "Start cut-here symbols" b
---------------8<----------------8<-------------------8<---------------
endsnippet

snippet cutstop "End cut-here symbols" b
--------------->8---------------->8------------------->8---------------
endsnippet

# vim:ft=snippets:
